* {
  margin: 0;
}

main {
  height: auto;
  padding: 20px;
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
/* This is the start of the booking section*/
main #booking {
  background-color: #af034f;
  padding: 13px 9px;
  border: 1px solid #af034f;
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}
/* LOGO STYLING*/
main #logo_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
main #logo_box #booking_logo {
  width: 155px;
  border-radius: 5px;
}
/*Title to the form*/
main #booking_title {
  display: flex;
  padding: 0 50px;
  align-items: center;
}
main #booking_title h1 {
  color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: normal;
}
/* 
This is a flex box container that holds the form container,
 button and image container and changes their direction to row 
 */
main #booking-container {
  display: flex;
  flex-wrap: wrap;
  padding: 4 0px;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
/* FILLING FORM */
main #booking-form {
  display: flex;
  width: fit-content;
  height: fit-content;
  border-radius: 20px;
  border: 3px solid #4c191b;
  padding: 13px 31px;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  background-color: #fff;
  gap: 7px;
}
/* flex box container for the p and input tags*/
main .item-con {
  display: flex;
  flex-direction: row;
  width: auto;
  height: auto;
  padding: 6px 0;
  align-items: center;
  justify-content: space-between;
}
main .item-con p {
  color: #121212;
  font-family: sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: normal;
}
/*Styling that targets all input tags inside of the container*/
main .item-con input {
  border: 1px solid #af034f;
  border-radius: 11px;
  padding: 7px 11px;
  width: 235px;
  height: 16px;
  text-align: center;
  font-size: 12px;
}
/* Specific styling for the name input tags */
main .item-con #name-input {
  padding: 7px 12px;
  width: 92px;
  height: fit-content;
  border: 1px solid #af034f;
  border-radius: 11px;
}
/*flex box container for both first and last name input tags*/
main #name #name-con {
  display: flex;
  align-items: center;
  gap: 24px;
}
/* Specific styling for the Date and time input tags*/
main .item-con .date-input {
  padding: 7px 12px;
  width: 92px;
  border: 1px solid #af034f;
  border-radius: 11px;
}
main #date {
  gap: 10px;
}
/*flex box container for both the p tags, date and time input tags*/
main #date #date-con {
  display: flex;
  align-items: center;
  gap: 24px;
}
/*Targets the select tag styling for the art forms*/
main #artform select {
  padding: 7px 12px;
  width: 200px;
  height: fit-content;
  border: 1px solid #af034f;
  border-radius: 11px;
}
main #tlf {
  gap: 20px;
}
/*Flex box that targets the styling and positioning of the calender image and button*/
main #img-btn {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: flex-start;
  gap: 17px;
}

main #img-btn img {
  width: 142px;
  height: 232px;
  border: 2px solid #4c191b;
  border-radius: 23px;
}
main #img-btn #booknow {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  text-align: center;
  width: 142px;
  height: 65px;
  border-radius: 26px;
  font-family: "Kaisei Opti", "Inter", "Times New Roman", Times, serif;
  border: #4c191b 1px solid;
}
