/*This is a textarea where u can input text*/

main .inputbox {
  width: 70%;
  height: 215px;
  border: 1px solid #a7034b;
  border-radius: 5px;
  resize: none;
}
main section > * {
  justify-content: center;
  align-items: center;
}

main #smiley {
  width: 70%;
  height: auto;
}

/*Used styling from the class "TVHKNAPPER" on this button*/
main button {
  border-radius: 10px;
  width: 90px;
  height: 43px;
  padding: 11px 15px;
  justify-content: center;
  align-items: center;
  background: #af034f;
}
main #Button-next,
main p,
main h1,
main h2 {
  text-align: center;
  font-family: "Julee", "Inter", "Times New Roman", Times, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: black;
  margin-bottom: 0px;
  width: 70%;
}

main h2 {
  font-size: 32px;
}

main p {
  font-size: 16px;
  font-family: "Inter", "Times New Roman", Times, serif;
}
main #Button-next {
  font-family: "Inter", "Times New Roman", Times, serif;
  height: 43px;
  width: 90px;
  border-radius: 25px;
  color: #ecfff8;
  font-size: 16px;
  border: none;
}

main #secondsection {
  gap: 10px;
}

main {
  margin: 50px 0;
}
