main .inputbox {
  width: 70%;
  height: 215px;
  border: 1px solid #a7034b;
}
main section > * {
  justify-content: center;
  align-items: center;
}
main #smiley {
  width: cover;
  height: 315px;
}
main button {
  border-radius: 10px;
  width: 90px;
  height: 43px;
  padding: 11px 15px;
  justify-content: center;
  align-items: center;
  background: #af034f;
}
main h1 {
  text-align: center;
  font-family: "Julee", "Inter", "Times New Roman", Times, serif;
  font-size: 48px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: black;
  margin-bottom: 0px;
}

main h2 {
  text-align: center;
  font-family: Julee;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: black;
  margin-top: 0px;
}

main p {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: black;
  width: 70%;
  text-align: center;
}
main #Button-next {
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  color: #fff;
  margin-bottom: 10px;
}
main #Button-next:hover {
  background-color: #4c191b;
}
