main section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 81px 0;
}
main section > * {
  justify-content: center;
  align-items: center;
}
main .center1 {
  width: 60%;
}
main .info,
main img {
  width: 50%;
  height: auto;
}

main img {
  border-radius: 5px;
  border: #4c191b solid 1px;
  padding: 0;
}

main .center2,
main .object {
  gap: 30px;
}

main .buy {
  display: flex;
  height: 39px;
  width: 88px;
  background-color: #af034f;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  box-shadow: inset #4c191b -2px -3px 4px 0.5px;
  border: none;
  text-decoration: none;
  color: #ecfff8;
  font-size: 12px;
}
main .buy:hover {
  box-shadow: inset #4c191b 2px 3px 4px 0.5px;
}

main .buy:active {
  box-shadow: inset #4c191b 2px 3px 4px 4px;
}
