main section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin: 81px 0;
}
main section > * {
  justify-content: center;
  align-items: center;
}
main .center1 {
  width: 60%;
}
main .info,
main img {
  width: 50%;
  height: auto;
}

main img {
  border-radius: 5px;
  border: #4c191b solid 1px;
  padding: 0;
}

main .center2,
main .object {
  gap: 30px;
}

main .buy {
  height: 39px;
  width: 88px;
  border-radius: 25px;
  font-size: 12px;
  border: none;
}
main h1,
main h5 {
  font-weight: 400;
}
main h1 {
  font-family: "Inria Serif", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 36px;
}
main h5 {
  font-family: "Inria Sans", "Lucida Sans", "Lucida Sans Regular",
    "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  font-size: 14px;
}
