main {
  margin: 56px auto;
  justify-content: center;
  align-items: center;
}
main img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  border: #4c191b solid 1px;
  padding: 0;
}

main section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 85%;
}

main section > * {
  justify-content: center;
  align-items: center;
}

main #contentshop h1,
main .imgshop {
  max-width: 230px;
  height: auto;
}
main #contentshop h4 {
  max-width: 314px;
  height: auto;
  text-align: center;
}

main #contentshop {
  width: 90%;
  height: auto;
  gap: 30px;
}

main .shop {
  padding: 20px 30px;
}
main .imgshop {
  gap: 25%;
}
main #location {
  width: 70%;
}
