.interfamily {
  font-family: "Inter", "Times New Roman", Times, serif;
}

.contentwrap {
  flex-wrap: wrap;
}
.FlexDirectionRow {
  display: flex;
  flex-direction: row;
}
.FlexDirectionColomn {
  display: flex;
  flex-direction: column;
}

.ObjectInCenter {
  justify-content: center;
  align-items: center;
}

html,
body {
  margin: 0;
}

header {
  height: 132px;
  align-items: center;
}

main section,
main,
footer .footer-containers,
body,
footer,
header,
header #menubuttons {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
body {
  flex-direction: column;
}

header #menubuttons {
  width: 410px;
  margin: auto 50px;
}

.TVHKNAPPER {
  display: flex;
  height: 39px;
  background-color: #af034f;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  box-shadow: inset #4c191b -2px -3px 4px 0.5px;
  text-decoration: none;
  color: #ecfff8;
  font-weight: 400;
  font-size: 12px;
}

.TVHKNAPPER:hover {
  box-shadow: inset #4c191b 2px 3px 4px 0.5px;
}

.TVHKNAPPER:active {
  box-shadow: inset #4c191b 2px 3px 4px 4px;
}

header #gallery {
  width: 64px;
}
header #booking {
  width: 70px;
}
header #feedback {
  width: 80px;
}

header #LogoAvCraftvillalink {
  margin-left: 82px;
}

header #LogoAvCraftvilla {
  width: 203px;
  height: auto;
  border-radius: 5px;
  border: #4c191b solid 1px;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background-color: #af034f;
  height: 132px;
}

footer .footer-containers {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px 0px;
}

footer .footer-containers div {
  color: #ecfff8;
}

footer .footer-content,
footer .footer-title {
  font-weight: 400;
  text-align: center;
}

footer .footer-title {
  font-size: 30px;
}

footer .footer-content {
  font-size: 15px;
}

main {
  flex-direction: column;
}

@media only screen and (max-width: 600px) {
  header {
    flex-direction: column;
  }
  header #LogoAvCraftvillalink {
    margin-left: 0;
  }
}

@media only screen and (max-width: 712px) {
  footer {
    height: 264px;
  }
}
